<script>
    
    import {
        DataTable,
        Toolbar,
        ToolbarContent,
        ToolbarSearch,
        Checkbox,
    } from "carbon-components-svelte";
    import "carbon-components-svelte/css/g90.css";

    let accounts = [
        ["brakhage","brakhage.4712","3B2DA319-A896-0942-A8EF-280808562B038F7BACA1-CB51-400A-B00B-8C7158206905",[]],
        ["c2lknt","Metal Swing.5670","60D79C75-AD4A-F74E-B044-E0D37A4149C84D5C0ACF-D9E7-49F4-A7AD-89F08F089786",[]],
        ["frumps","frumps.1367","23F88DF5-BC8B-EC41-A848-960A55904DB6A0FAB4E3-3A2E-486C-B6FC-6DDA04A15ADE",[]],
        ["nroto","nroto.3168","142CB8B8-2DE4-6840-8709-E59AB9064DB0E68B2F20-0C64-4ECD-8F99-7420CA4925B0",[]],
        ["jparker","jparker.9307","1BAA688A-1661-2A4B-AC34-E873BA875F7E39AE4D61-241B-4251-BC44-392CF0E51AF0",[]],
    ]
const go = async () => {
    let dataArray = []
    let itemRows = []
    const list = [
        [24272,"T1"],
        [24273,"T2"],
        [24274,"T3"],
        [24275,"T4"],
        [24276,"T5"],
        [24277,"T6"],
        [24278,"T1"],
        [24279,"T2"],
        [24280,"T3"],
        [24281,"T4"],
        [24282,"T5"],
        [24283,"T6"],
        [24284,"T1"],
        [24285,"T2"],
        [24286,"T3"],
        [24287,"T4"],
        [24288,"T5"],
        [24289,"T6"],
        [24290,"T1"],
        [24291,"T2"],
        [24292,"T3"],
        [24293,"T4"],
        [24294,"T5"],
        [24295,"T6"],
        [24296,"T1"],
        [24297,"T2"],
        [24298,"T3"],
        [24363,"T4"],
        [24299,"T5"],
        [24300,"T6"],
        [24342,"T1"],
        [24343,"T2"],
        [24344,"T3"],
        [24345,"T4"],
        [24341,"T5"],
        [24358,"T6"],
        [24346,"T1"],
        [24347,"T2"],
        [24348,"T3"],
        [24349,"T4"],
        [24350,"T5"],
        [24351,"T6"],
        [24352,"T1"],
        [24353,"T2"],
        [24354,"T3"],
        [24355,"T4"],
        [24356,"T5"],
        [24357,"T6"],
        [19976,""],
        [19721,""],
        [24304,""],
        [24305,""],
        [12333,""],
        [12134,""],
        [12238,""],
        [12253,""],
        [19675,""],
        [19748,""],
        [19731,""],
        [19739,""],
        [19699,""],
        [19732,""],
        [19728,""],
        [19683,""],
        [19700,""],
        [19747,""],
        [24325,""],
        [24315,""],
        [24320,""],
        [24340,""],
        [76491,""],
        [96722,""],
        [96347,""],
        [70820,""],
        [71581,""],
        [73248,""],
        [68063,""],
        [75654,""],
    ]

    for (const account of accounts) {
        var itemCall = await fetch(`https://api.guildwars2.com/v2/account/materials?access_token=${account[2]}`)
        var itemData = await itemCall.json()
        account[3] = itemData
        // console.log(account[3])
    }

    for (const prop of list) {
        var response = await fetch('https://api.guildwars2.com/v2/items?ids=' + prop[0])
        var data = await response.json()
        dataArray.push(data[0])
        var brakItem = accounts[0][3].find(d => d.id === prop[0]) || {count: 0}
        var c2Item = accounts[1][3].find(d => d.id === prop[0]) || {count: 0}
        var frItem = accounts[2][3].find(d => d.id === prop[0]) || {count: 0}
        var nrItem = accounts[3][3].find(d => d.id === prop[0]) || {count: 0}
        var jpItem = accounts[4][3].find(d => d.id === prop[0]) || {count: 0}
        // console.log(brakItem)
        let itemRow = {
            id: prop[0],
            name: data[0].name,
            brakhage: brakItem.count,
            c2lknt: c2Item.count,
            frumps: frItem.count,
            nroto: nrItem.count,
            jparker: jpItem.count,
            total: brakItem.count + c2Item.count + frItem.count + nrItem.count + jpItem.count,
            tier: prop[1]
        }
        itemRows.push(itemRow)
    }
    return [dataArray, itemRows]
}

let dArray = go()

let filteredRowIds = [];
</script>
<div class="page-height">
{#await dArray}
    <p>loading...</p>
{:then dArray}
    <DataTable 
        stickyHeader
        sortable
        headers={[
            { key: "name", value: "Name" },
            { key: "brakhage", value: "brakhage" },
            { key: "c2lknt", value: "c2lknt" },
            { key: "frumps", value: "frumps" },
            { key: "nroto", value: "nroto" },
            { key: "jparker", value: "jparker" },
            { key: "caulknot1", value: "caulknot1" },
            { key: "caulknot2", value: "caulknot2" },
            { key: "caulknot3", value: "caulknot3" },
            { key: "caulknot4", value: "caulknot4" },
            { key: "caulknot5", value: "caulknot5" },
            { key: "total", value: "total" },
            { key: "tier", value: "tier" },
        ]}
        rows={dArray[1]}
    ><Toolbar>
        <ToolbarContent>
          <ToolbarSearch
            persistent
            value=""
            shouldFilterRows
            bind:filteredRowIds
          />
        </ToolbarContent>
      </Toolbar>

</DataTable>
{/await}
</div>
<style>
    :global(.bx--data-table--sticky-header) {
        max-height: 93vh;
    }
</style>