<script>
	import legendaries from '$data/legendaries.json';
	import legendaryBaseMats from '$data/legendaryBaseMats.json';
	import { ComboBox } from 'carbon-components-svelte';
	const availabeLeggoos = legendaryBaseMats.map((l) => l[0]);
	let items = legendaries.map((l) => ({
		id: l[0],
		gen: l[1],
		text: l[2],
		type: l[3]
	}));
	function shouldFilterItem(item, value) {
		if (!value) return true;
		return (
			item.text.toLowerCase().includes(value.toLowerCase()) ||
			item.gen.toLowerCase().includes(value.toLowerCase()) ||
			item.type.toLowerCase().includes(value.toLowerCase())
		);
	}
	let selectedId;
	$: console.log(selectedId);
</script>

<ComboBox
	bind:selectedId
	invalid={!availabeLeggoos.includes(selectedId)}
	invalidText="We don't actually have that one ready yet."
	titleText="Contact"
	placeholder="Select contact method"
	{items}
	{shouldFilterItem}
/>

<style>
	:global(.bx--list-box--expanded, .bx--list-box__menu) {
		max-height: calc(80vh - 50px) !important;
	}
</style>
