<script>
  import accts from '$data/accts.json'
</script>
  <ul>
{#each accts as acct}
  <li><a href="https://api.guildwars2.com/v2/characters?access_token={acct.api}" target="_blank">{acct.name}</a></li>
  {/each}
    </ul>
