<script>
  export let data
  // console.log(data)
  const summary = ''
  import accts from '$data/accts.json'
  import items from '$data/items.json'
  import {
    DataTable,
    Toolbar,
    ToolbarContent,
    ToolbarSearch,
    Pagination,
  } from "carbon-components-svelte";
  const headers = [{key: "name", value: "item"}, ...Array.from({length: accts.length}).map((_, i) => ({key: accts[i].name, value: accts[i].name}))]
  const rows = Object.keys(data.itemObj).map(k => {
    // let itema = items.filter(oo => {
    //   console.log('oo[0]',oo[0])
    //   console.log('k', k)
    // })
    let itemData = items.filter(i => i[0] == k).pop()
    // console.log('itemData',itemData)
    let noom = itemData[1]
    return {
      id: k,
      name: noom,
      ...data.itemObj[k]
    }

  })
  // console.log(rows)
  // console.log(headers)
  let filteredRowIds = []
</script>

<DataTable
  { headers }  {rows}
>
  <Toolbar>
    <ToolbarContent>
      <ToolbarSearch
        persistent
        value=""
        shouldFilterRows
        bind:filteredRowIds
      />
    </ToolbarContent>
  </Toolbar>
</DataTable>

