<script>
	import {
		DataTable,
		Toolbar,
		ToolbarContent,
		ToolbarSearch,
		Loading
	} from 'carbon-components-svelte';
	import itemList from '$data/itemList.json';
	export let data;
	data = Object.values(data).map((d) => d);
	let itemArray = {};
	let dataConfigurator = data.map((d) => {
		let processor = itemList.map((item) => {
			let foundItem = d.items.filter((i) => i[0] == item[0])[0];
			// console.log(foundItem);
			if (item[0] in itemArray) {
				itemArray[item[0]][d.shortname] = foundItem[1];
				// console.log(item);
			} else {
				itemArray[item[0]] = { id: item[0], name: item[1], [d.shortname]: foundItem[1] };
			}
		});
	});
	const dataArray = Object.keys(itemArray).map((key) => {
		let item = itemArray[key];
		// console.log(item);
		let retVal = {
			id: item.id,
			name: item.name,
			brakhage: item.brak,
			c2lknt: item.c2lknt,
			frumps: item.frumps,
			nroto: item.nroto,
			jparker: item.jparker,
			caulks: `${item['caulknot-1']} | ${item['caulknot-2']} | ${item['caulknot-3']} | ${item['caulknot-4']} | ${item['caulknot-5']}`,
			total:
				item['brak'] +
				item['c2lknt'] +
				item['frumps'] +
				item['nroto'] +
				item['jparker'] +
				item['caulknot-1'] +
				item['caulknot-2'] +
				item['caulknot-3'] +
				item['caulknot-4'] +
				item['caulknot-5']
		};
		// console.log(retVal);
		return retVal;
	});
	// $: console.log(itemArray);
	// $: console.log(dataArray);

	let filteredRowIds = [];
</script>

<DataTable
	size="compact"
	stickyHeader
	sortable
	headers={[
		{ key: 'name', value: 'Name' },
		{ key: 'brakhage', value: 'brakhage' },
		{ key: 'c2lknt', value: 'c2lknt' },
		{ key: 'frumps', value: 'frumps' },
		{ key: 'nroto', value: 'nroto' },
		{ key: 'jparker', value: 'jparker' },
		{ key: 'caulks', value: 'caulks' },
		{ key: 'total', value: 'total' }
	]}
	rows={dataArray}
>
	<Toolbar>
		<ToolbarContent>
			<ToolbarSearch persistent value="" shouldFilterRows bind:filteredRowIds />
		</ToolbarContent>
	</Toolbar>
</DataTable>

<style>
	:global(.bx--data-table--sticky-header) {
		max-height: calc(80vh - 50px) !important;
		overflow: auto !important;
	}
	.caulks {
		display: flex;
		width: 90vw;
		margin: auto;
		justify-content: center;
	}
	.caulks p {
		text-align: center;
		display: block;
		flex: 1;
	}
</style>
