<script>
	import legendaries from '$data/legendaries.json';
	import precursors from '$data/precursors.json';
	import { DataTable } from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	export let data;
	let itemData, priceData, craftPriceData;
	//  = data[0],
	// 	priceData = data[1],
	// 	craftPriceData = data[2];
	let legoIds = legendaries.map((l) => l[0]).join();
	let legorows = [];
	// let legorows = itemData.map((item) => {
	// 	return {
	// 		name: item.name,
	// 		cpriceb: item.default_skin,
	// 		cprices: item.vendor_value,
	// 		bprice: item.level,
	// 		sprice: item.type
	// 	};
	// });

	// https://api.guildwars2.com/v2/recipes/search?output=96915
	const recipeSearchUrl = 'https://api.guildwars2.com/v2/recipes/search?output=';
	// https://api.guildwars2.com/v2/recipes/13705
	const recipeUrl = 'https://api.guildwars2.com/v2/recipes/';

	const itemDataUrl = 'https://api.guildwars2.com/v2/items?ids=' + legoIds;
	const priceDataUrl = 'https://api.guildwars2.com/v2/commerce/prices?ids=' + legoIds;
	const craftPriceUrl = 'https://www.gw2spidy.com/api/v0.9/json/item/96915';
	onMount(async () => {
		let res = await fetch(itemDataUrl);
		itemData = await res.json();
		res = await fetch(priceDataUrl);
		priceData = await res.json();
		// console.log(priceData);
		// res = await fetch(craftPriceUrl);
		// craftPriceData = await res.json();
		legorows = itemData.map((item) => {
			// console.log(item);
			const priceItem = priceData.filter((pi) => {
				// if (item.id === pi.id) {
				// 	console.log(pi.id);
				// console.log(item.id);
				// }
				return pi.id === item.id;
			});
			// console.log(priceItem);
			let bprice = Math.round(priceItem[0]?.buys.unit_price / 10000);
			let sprice = Math.round(priceItem[0]?.sells.unit_price / 10000);
			return {
				id: item.id,
				name: item.name,
				cpriceb: item.default_skin,
				cprices: item.vendor_value,
				bprice: isNaN(bprice) ? '' : '$' + bprice,
				sprice: isNaN(sprice) ? '' : '$' + sprice
			};
		});
		const astraUrl =
			'https://wiki.guildwars2.com/index.php?title=Special:RunQuery/Base_ingredients_query&Base_ingredients%5Bitem%5D=Astralaria&Base_ingredients%5Bid%5D=7615801&Base_ingredients%5Bdiscipline%5D=Mystic+forge&Base_ingredients%5Bquantity%5D=1&_run';
		let astraHtml;
		const astraPage = fetch(astraHtml)
			.then(function (response) {
				return response.text();
			})
			.then(function (html) {
				var parser = new DOMParser();
				astraHtml = parser.parseFromString(html, 'text/html');
			})
			.catch(function (err) {
				console.warn('Something went wrong.', err);
			});
	});
	const legoheaders = [
		{ key: 'name', value: 'Legendary' },
		{ key: 'cpriceb', value: 'Crafting Price (buy)' },
		{ key: 'cprices', value: 'Crafting Price (sell)' },
		{ key: 'bprice', value: 'Buy Price' },
		{ key: 'sprice', value: 'Sell Price' }
	];
</script>

<DataTable sortable headers={legoheaders} rows={legorows} />
