<script>
	import {
		Loading,
		Search,
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody
	} from 'carbon-components-svelte';
	import data from '$src/data.json';

	const list = [
		[86601, ''],
		[43766, ''],
		[19722, ''],
		[24474, ''],
		[24873, ''],
		[87528, ''],
		[19685, ''],
		[12544, ''],
		[19701, ''],
		[19702, ''],
		[19684, ''],
		[24309, ''],
		[24339, ''],
		[24324, ''],
		[24272, 'T1'],
		[24273, 'T2'],
		[24274, 'T3'],
		[24275, 'T4'],
		[24276, 'T5'],
		[24277, 'T6'],
		[24278, 'T1'],
		[24279, 'T2'],
		[24280, 'T3'],
		[24281, 'T4'],
		[24282, 'T5'],
		[24283, 'T6'],
		[24284, 'T1'],
		[24285, 'T2'],
		[24286, 'T3'],
		[24287, 'T4'],
		[24288, 'T5'],
		[24289, 'T6'],
		[24290, 'T1'],
		[24291, 'T2'],
		[24292, 'T3'],
		[24293, 'T4'],
		[24294, 'T5'],
		[24295, 'T6'],
		[24296, 'T1'],
		[24297, 'T2'],
		[24298, 'T3'],
		[24363, 'T4'],
		[24299, 'T5'],
		[24300, 'T6'],
		[24342, 'T1'],
		[24343, 'T2'],
		[24344, 'T3'],
		[24345, 'T4'],
		[24341, 'T5'],
		[24358, 'T6'],
		[24346, 'T1'],
		[24347, 'T2'],
		[24348, 'T3'],
		[24349, 'T4'],
		[24350, 'T5'],
		[24351, 'T6'],
		[24352, 'T1'],
		[24353, 'T2'],
		[24354, 'T3'],
		[24355, 'T4'],
		[24356, 'T5'],
		[24357, 'T6'],
		[19976, ''],
		[19721, ''],
		[24304, ''],
		[24305, ''],
		[12333, ''],
		[12134, ''],
		[12238, ''],
		[12253, ''],
		[19675, ''],
		[19748, ''],
		[19731, ''],
		[19739, ''],
		[19699, ''],
		[19732, ''],
		[19728, ''],
		[19683, ''],
		[19700, ''],
		[19747, ''],
		[24325, ''],
		[24315, ''],
		[24320, ''],
		[24340, ''],
		[76491, ''],
		[96722, ''],
		[96347, ''],
		[70820, ''],
		[71581, ''],
		[73248, ''],
		[68063, ''],
		[75654, ''],
		[24502, '']
	];
	let accounts = data.map((a) => [a.id, a.shortname, a.name, a.apikey, [], []]);
	const go = async () => {
		let dataArray = [];
		let itemRows = [];

		for (const account of accounts) {
			if (account[3] !== '') {
				var materialsCall = await fetch(
					`https://api.guildwars2.com/v2/account/materials?access_token=${account[3]}`
				);
				var materialsData = await materialsCall.json();

				const bankCall = await fetch(
					`https://api.guildwars2.com/v2/account/bank?access_token=${account[3]}`
				);
				const bankData = await bankCall.json();
				account[4] = materialsData.concat(bankData);
			}
			// console.log(account[3])
		}

		for (const prop of list) {
			var response = await fetch('https://api.guildwars2.com/v2/items?ids=' + prop[0]);
			var data = await response.json();
			dataArray.push(data[0]);
			var brakItem = accounts[0][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var c2Item = accounts[1][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var frItem = accounts[2][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var nrItem = accounts[3][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var jpItem = accounts[4][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var ca1Item = accounts[5][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var ca2Item = accounts[6][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var ca3Item = accounts[7][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var ca4Item = accounts[8][4].find((d) => d?.id === prop[0]) || { count: 0 };
			var ca5Item = accounts[9][4].find((d) => d?.id === prop[0]) || { count: 0 };
			let itemRow = {
				id: prop[0],
				name: data[0].name,
				brakhage: brakItem.count,
				c2lknt: c2Item.count,
				frumps: frItem.count,
				nroto: nrItem.count,
				jparker: jpItem.count,
				ca1: ca1Item.count,
				ca2: ca2Item.count,
				ca3: ca3Item.count,
				ca4: ca4Item.count,
				ca5: ca5Item.count,
				total:
					brakItem.count +
					c2Item.count +
					frItem.count +
					nrItem.count +
					jpItem.count +
					ca1Item.count +
					ca2Item.count +
					ca3Item.count +
					ca4Item.count +
					ca5Item.count,
				tier: prop[1]
			};
			itemRows.push(itemRow);
		}

		return itemRows.sort((a, b) => a.id - b.id);
	};
	let hiddenRows = list.map((l) => ({ [l]: false }));
	let dArray = go();
	let value = '';
	const filterRows = () => {};
</script>

{#await dArray}
	<Loading />
{:then dArray}
	<Search bind:value on:keyup={() => filterRows()} />
	<StructuredList condensed>
		<StructuredListHead>
			<StructuredListRow head>
				<StructuredListCell head>item</StructuredListCell>

				{#each accounts as account}
					<StructuredListCell head>{account[1]}</StructuredListCell>
				{/each}
			</StructuredListRow>
		</StructuredListHead>
		<StructuredListBody>
			{#each dArray as data}
				<StructuredListRow id={data.id} bind:selected={hiddenRows[data.id]}>
					<StructuredListCell>{data.name}</StructuredListCell>
					<StructuredListCell>{data.brakhage}</StructuredListCell>
					<StructuredListCell>{data.c2lknt}</StructuredListCell>
					<StructuredListCell>{data.frumps}</StructuredListCell>
					<StructuredListCell>{data.nroto}</StructuredListCell>
					<StructuredListCell>{data.jparker}</StructuredListCell>
					<StructuredListCell>{data.ca1}</StructuredListCell>
					<StructuredListCell>{data.ca2}</StructuredListCell>
					<StructuredListCell>{data.ca3}</StructuredListCell>
					<StructuredListCell>{data.ca4}</StructuredListCell>
					<StructuredListCell>{data.ca5}</StructuredListCell>
					<StructuredListCell>{data.total}</StructuredListCell>
				</StructuredListRow>
			{/each}
		</StructuredListBody>
	</StructuredList>
{/await}
