<script>
	import { Loading } from 'carbon-components-svelte';
	import 'carbon-components-svelte/css/g90.css';
	// import data from '$src/data.json';
	import itemList from '$data/itemList.json';
	import { onMount } from 'svelte';
	async function getItemName(itemId) {
		var itemCall = await fetch('https://api.guildwars2.com/v2/items?ids=' + itemId);
		var itemData = await itemCall.json();
	}
	let itemNames = [];
	let loading = true;
	async function apiCalls() {
		await Promise.all(
			itemList.map(async (item) => {
				var itemCall = await fetch('https://api.guildwars2.com/v2/items?ids=' + item[0]);
				var itemData = await itemCall.json();
				let retAarr = [item[0], itemData[0].name, item[1]];
				itemNames.push(retAarr);
			})
		);
	}
	let dataUpdater = apiCalls();
</script>

{#await dataUpdater}
	<Loading />
{:then response}
	<pre>
        {JSON.stringify(response)}
    </pre>
	<pre>
        {JSON.stringify(itemNames)}
    </pre>
{/await}
