<script>
  export let data
  // console.log(data)
  import {walletdata } from '$lib/stores/wallet'
  // console.log($walletdata)
  import accts from '$data/accts.json'
  import {
    DataTable,
    Toolbar,
    ToolbarContent,
    ToolbarSearch,
  } from "carbon-components-svelte";
  let totalgold = 0
  let goldparser = (val) => {
    val = val.toString()
    console.log('val', val)
    console.log('typepf val', typeof val)
          let len = val.length
return [val.slice(0, len - 4), val.slice(len - 4, len - 2), val.slice(len - 2, len)]

  } 
  const rows = $walletdata.map(curr => {
    const retval = {
      id: curr.id,
      name: curr.name
    }
    let iterator = Array.from({length: 10}).map((_, i) => {
      let accountcount = data.retData[i].filter(f => f.id === curr.id).pop()
      if (accountcount){
        if (curr.id === 1){
          totalgold += accountcount.value
          retval[i] = goldparser(accountcount.value.toString())
        } else {
          retval[i] = accountcount.value.toLocaleString("en-US");
          
        }
      } else {
      retval[i] = 0
      }
    })
    return retval
  })
  console.log('rows',rows)
  const headers = [{key: "name", value: goldparser(totalgold)}, ...Array.from({length: 10}).map((_, i) => ({key: i, value: accts[i].name}))]
  // const headers = [ 
  //   {key: "name", value: "Currency"},
  //   {key: "0", value: accts[0].name},
  //   {key: "1", value: accts[1].name},
  //   {key: "2", value: accts[2].name},
  //   {key: "3", value: accts[3].name},
  //   {key: "4", value: accts[4].name},
  //   {key: "5", value: accts[5].name},
  //   {key: "6", value: accts[6].name},
  //   {key: "7", value: accts[7].name},
  //   {key: "8", value: accts[8].name},
  //   {key: "9", value: accts[9].name},
  // ]
  // 
  let filteredRowIds = [];
</script>
  <DataTable sortable {rows} {headers}>
    <svelte:fragment slot="cell-header" let:header>
    {#if header.key === "name"}
      <span class="g">{header.value[0]}g</span>
      <span class="s">{header.value[1]}s</span>
      <span class="c">{header.value[2]}c</span>
    {:else}
      {header.value}
    {/if}
  </svelte:fragment>
   <svelte:fragment slot="cell" let:row let:cell>
    {#if row.id === 1 && cell.value !== 'Coin' }
      <span class="g">{cell.value[0]}g</span>
      <span class="s">{cell.value[1]}s</span>
      <span class="c">{cell.value[2]}c</span>
    {:else}
      {cell.value}
    {/if}
  </svelte:fragment>
    <Toolbar>
    <ToolbarContent>
      <ToolbarSearch
        persistent
        value=""
        shouldFilterRows
        bind:filteredRowIds
      />
    </ToolbarContent>
  </Toolbar>
</DataTable>
<!--   <pre> -->
<!-- {JSON.stringify(walletcontent, null, 4)} -->
<!-- {JSON.stringify($walletdata, null, 4)} -->
<!--   </pre> -->
<style>
  .g {
    color: yellow;
    }
  .s {
    color: #c0c0c0;
  }
  .c {
    color: #C4A484;
  }
</style>
