<script>
	import {
		DataTable,
		Toolbar,
		ToolbarContent,
		ToolbarSearch,
		Loading
	} from 'carbon-components-svelte';
	import 'carbon-components-svelte/css/g90.css';
	import data from '../../data.json';
	const excludeList = [8, 17, 21, 48, 63, 66];
	let accounts = data.map((a) => [a.id, a.shortname, a.name, a.apikey, [], []]);

	let totalGold = 0;
	$: pageTitle = golder(totalGold, 1);
	const golder = (value, i) => {
		let retval;
		// console.log(value)
		if (i === 1 && value !== 0) {
			totalGold = totalGold + value;
			value = value.toString();
			let copper = value.slice(-2);
			let silver = value.slice(-4).substr(0, 2);
			let gold = value.slice(0, -4);
			retval = `${gold}g ${silver}s ${copper}c`;
		} else if (value !== 0) {
			retval = value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		} else {
			retval = value;
		}
		return retval;
	};
	const go = async () => {
		let currencyIds = await fetch(`https://api.guildwars2.com/v2/currencies?ids=all`);
		let currencyIdData = await currencyIds.json();
		let itemRows = [];

		for (const account of accounts) {
			if (account[3] !== '') {
				var walletCall = await fetch(
					`https://api.guildwars2.com/v2/account/wallet?access_token=${account[3]}`
				);
				var walletData = await walletCall.json();
				account[5] = walletData;
				// console.log(account[5])
			}
		}
		let i = 1;
		while (i <= 70) {
			if (!excludeList.includes(i)) {
				var currency = currencyIdData.find((c) => c.id === i);
				// console.log(currency.id + ": " + currency.name)
				var brakCount =
					accounts[0][5].find((c) => c.id === i) !== undefined
						? accounts[0][5].find((c) => c.id === i).value
						: 0;
				var c2Count =
					accounts[1][5].find((c) => c.id === i) !== undefined
						? accounts[1][5].find((c) => c.id === i).value
						: 0;
				var frCount =
					accounts[2][5].find((c) => c.id === i) !== undefined
						? accounts[2][5].find((c) => c.id === i).value
						: 0;
				var nrCount =
					accounts[3][5].find((c) => c.id === i) !== undefined
						? accounts[3][5].find((c) => c.id === i).value
						: 0;
				var jpCount =
					accounts[4][5].find((c) => c.id === i) !== undefined
						? accounts[4][5].find((c) => c.id === i).value
						: 0;
				var ca1Count =
					accounts[5][5].find((c) => c.id === i) !== undefined
						? accounts[5][5].find((c) => c.id === i).value
						: 0;
				var ca2Count =
					accounts[6][5].find((c) => c.id === i) !== undefined
						? accounts[6][5].find((c) => c.id === i).value
						: 0;
				var ca3Count =
					accounts[7][5].find((c) => c.id === i) !== undefined
						? accounts[7][5].find((c) => c.id === i).value
						: 0;
				var ca4Count =
					accounts[8][5].find((c) => c.id === i) !== undefined
						? accounts[8][5].find((c) => c.id === i).value
						: 0;
				var ca5Count =
					accounts[9][5].find((c) => c.id === i) !== undefined
						? accounts[9][5].find((c) => c.id === i).value
						: 0;

				let allValues = [
					brakCount,
					c2Count,
					frCount,
					nrCount,
					jpCount,
					ca1Count,
					ca2Count,
					ca3Count,
					ca4Count,
					ca5Count
				];

				let itemRow = {
					id: i,
					name: currency.name,
					brakhage: golder(allValues[0], i),
					c2lknt: golder(allValues[1], i),
					frumps: golder(allValues[2], i),
					nroto: golder(allValues[3], i),
					jparker: golder(allValues[4], i),
					caulknot1: golder(allValues[5], i),
					caulknot2: golder(allValues[6], i),
					caulknot3: golder(allValues[7], i),
					caulknot4: golder(allValues[8], i),
					caulknot5: golder(allValues[9], i)
				};
				if (allValues.reduce((a, b) => a + b, 0) > 0) {
					itemRows.push(itemRow);
				}
			}
			i++;
		}
		return itemRows;
	};

	let dArray = go();

	let filteredRowIds = [];
</script>

<svelte:head>
	<title>{pageTitle}</title>
</svelte:head>

{#await dArray}
	<Loading />
{:then dArray}
	<DataTable
		size="compact"
		stickyHeader
		sortable
		headers={[
			{ key: 'name', value: 'Name' },
			{ key: 'brakhage', value: 'brakhage' },
			{ key: 'c2lknt', value: 'c2lknt' },
			{ key: 'frumps', value: 'frumps' },
			{ key: 'nroto', value: 'nroto' },
			{ key: 'jparker', value: 'jparker' },
			{ key: 'caulknot1', value: 'caulknot1' },
			{ key: 'caulknot2', value: 'caulknot2' },
			{ key: 'caulknot3', value: 'caulknot3' },
			{ key: 'caulknot4', value: 'caulknot4' },
			{ key: 'caulknot5', value: 'caulknot5' }
		]}
		rows={dArray}
	>
		<Toolbar>
			<ToolbarContent>
				<ToolbarSearch persistent value="" shouldFilterRows bind:filteredRowIds />
			</ToolbarContent>
		</Toolbar>
		<svelte:fragment slot="expanded-row" let:row>
			<p>caulk knot 1: {accounts[5][4].find((d) => d.id === row.id).count || 0}</p>
			<p>caulk knot 2: {accounts[6][4].find((d) => d.id === row.id).count || 0}</p>
			<p>caulk knot 3: {accounts[7][4].find((d) => d.id === row.id).count || 0}</p>
			<p>caulk knot 4: {accounts[8][4].find((d) => d.id === row.id).count || 0}</p>
			<p>caulk knot 5: {accounts[9][4].find((d) => d.id === row.id).count || 0}</p>
		</svelte:fragment>
	</DataTable>
{/await}

<style>
	:global(.bx--data-table--sticky-header) {
		max-height: 93vh;
	}
</style>
