<script>
	import { page } from '$app/stores';
	import 'carbon-components-svelte/css/g90.css';
	import {
		Column,
		Content,
		Grid,
		Header,
		HeaderNav,
		HeaderNavItem,
		Row
	} from 'carbon-components-svelte';
	import 'carbon-components-svelte/css/g90.css';
</script>

<svelte:head>
	<title>GW2 Inv</title>
	<base href="/gw2inv/" />
</svelte:head>
<Header
	company="GW2"
	platformName={$page.url.pathname.includes('items')
		? 'Items'
		: $page.url.pathname.includes('wallet')
		? 'Wallet'
		: $page.url.pathname.includes('leggoo')
		? 'Legendaries'
		: 'gw2inv'}
>
	<HeaderNav>
		<HeaderNavItem href="/gw2inv/items" text="Items" />
		<HeaderNavItem href="/gw2inv/wallet" text="Wallets" />
	</HeaderNav>
</Header>
<div class="padder">
	<Content>
		<Grid>
			<Row>
				<Column>
					<slot />
				</Column>
			</Row>
		</Grid>
	</Content>
</div>

<style>
	.padder {
		margin-top: 47px;
	}
</style>
