.bx--data-table--sticky-header{max-height:93vh}.bx--child-row-inner-container{width:100%}.caulks.svelte-18j1l99.svelte-18j1l99{display:flex;width:100%;justify-content:space-evenly}.caulks.svelte-18j1l99 p.svelte-18j1l99{text-align:center;display:block;flex:1}
